@import "variables";
@import "mixin";

.sobre-nosotros-contenido{
    @include flex-center(row, wrap, flex-start, stretch);
    gap: 2rem;

    .texto{
        flex: 1 1 400px;
    }

    .imagenes{
        flex: 1 1 300px;
        @include flex-center(column, nowrap, flex-start, stretch);
        gap: 1rem;

        img{
            width: 100%;
            border-radius: $border-radius;
            @include box-shadow();
            object-fit: cover;
        }
    }
}