@import "variables";
@import "mixin";
@import "flexproductos";
@import "gridproductos";
@import "nosotros";
@import "servicios";
@import "contacto";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$ruta-fondo: "../images/background.png";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: $font-stack;
    background: url(#{$ruta-fondo}) center/cover no-repeat;
    background-attachment: fixed;
    color: $text-color;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar-nav {
    .nav-link {
        &.active {
            color: $active-color !important;
            opacity: 0;
            animation: fadeIn 0.6s ease forwards;
        }
    }
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: $border-radius;
    margin-bottom: 2rem;
    @include box-shadow();
    opacity: 0;
    animation: fadeIn 0.6s ease forwards;

    h2 {
        color: $text-color;
        font-size: 1.8rem;
        border-bottom: 2px solid black;
        padding-bottom: 0.5;
        margin-bottom: 1rem;
    }

    p {
        color: #000;
        line-height: 1.6;
        font-size: 1rem;
    }
}

.btn-comprar {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: bakground 0.3s;

    &:hover {
        background-color: darken($primary-color, 20%);
    }
}

/*Agregue keyframes en cada secion para que la pagina tenga sun animacion*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Media para que las paginas sean responsive*/

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .btn-enviar {
        font-size: 1rem;
    }
}

@media (max-width:480px) {
    main {
        flex-direction: column;
    }

}